/*
The CSS code gets to executed from top to bottom and left ro right

Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/


/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

/* font-family: 'Annie Use Your Telescope', cursive;
font-family: 'Caveat', cursive;
font-family: 'Special Elite', cursive; 
font-family: 'Catamaran', sans-serif;*/


body {
  font-family: 'Annie Use Your Telescope', sans-serif;
  font-size: 30px;
  color: black;
  font-weight: bold;
  background-color: #ebe6e2;
  text-align: center;
  line-height: 1.5;
  height: auto;
  border: 3px solid #ebe6e2;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #bd1e0f;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: 'Special Elite', cursive;
}

h4 {
  font-family: 'Annie Use Your Telescope', sans-serif;
}

input,
select,
button {
    border: 2px solid black;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 5px;
    color: black;
    font-family: 'Special Elite', cursive;
    font-size: 75%;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  width: 125px;
}

input {
  width: 90%;
}

button:hover {
  color: #bd1e0f;
}

button[type=submit] {
  border: 2px solid black;
}

button[type=submit]:hover {
  color: #bd1e0f;
}


label {
  display: block;
  margin: 10px;
}

/*
The clearfix Hack: If an element is taller than the element containing it, and it is floated, it will "overflow" outside of its container
https://www.w3schools.com/css/css_float_clear.asp
*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}




/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/
header {
  /* height: 700px; */
  width: 100%;
  display: block;
  position: relative;
  padding-top: 5px;
  margin-top: 0;
  text-align: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

header h1 {
  color: #13498a;
  margin-top: 10px;
  font-size: 200%;
}

h2 {
  font-size: 125%;
}

h3 {
  font-size: 90%
}

h4 {
  font-size: 150%;
  color: #f0530a;
}

/* header.nested {
  display: float;
} */

/* -------------------------------------
Content styles (Main Module)
*/
div {
  width: 95%;
  margin: 10px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

/* Landing styles */

div.landing {
  position: relative; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

div.landing::before {
  content: "";
  background-image: url(hero.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  opacity: 0.5;
  position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
}

div.hook {
  position: relative
}

div.landing-buttons {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button.demo-button {
  background-color: #f0e981;
  height: 15vh;
  width: 200px;
  padding: 50px;
  font-size: 200%;
  border-radius: 10px;
  font-family: 'Special Elite', cursive;
}

button.landing-button {
  background-color: #f0e981;
  height: 15vh;
  width: 200px;
  padding: 40px;
  font-size: 150%;
  border-radius: 10px;
  font-family: 'Special Elite', cursive;
}

/* Dashboard, Supplies, Tools, and Projects pages */

.nested-nav {  
  display: flex;
  padding: 0;
  flex-direction: column;
}

.page-heading {
  display: flex;
  width: 98%;
  margin-bottom: 0;
  padding: 20px;
  /* border: 2px solid #13498a; */
  background-color: #13498a;
  color: #ebe6e2;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}  



.nav-icons {
  display: flex;
  list-style-type: none;
  text-align: left;
  font-size: 20px;
  
}

.nav-icons li {
  padding: 10px;
  color: #ebe6e2;
}

.nav-icons li a {
  
  color: #ebe6e2;
}

.nav-icons li a:hover {
  color: #bd1e0f;
}

/* Dashboard styles */

.inventory-buttons {
  display: flex;
  flex-direction: column;
}

div.supplies-entrance, 
div.tools-entrance,
div.projects-entrance {
  position: relative; 
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

div.supplies-entrance::before {
  content: "";
  background-image: url(sewing-supplies.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
  border-radius: 20px;
  border: 2px solid #0ad1f0
}

div.tools-entrance::before {
  content: "";
  background-image: url(carpenter-tools.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
  border-radius: 20px;
  border: 2px solid #f0530a
}

div.projects-entrance::before {
  content: "";
  background-image: url(garden-project.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
  border-radius: 20px;
  border: 2px solid #59eca3
}

button.entrance-button {
  position: relative;
  background-color: #ebe6e2;
  padding: 20px;
  font-size: 100%;
  font-family: 'Special Elite', cursive;
  border-radius: 10px;
  width: 175px;
}

/* Supplies styles */

div.supplies,
div.add-supply,
div.edit-supply {
  background-image: url(sewing-supplies.jpg);
}

div.tools, 
div.add-tool,
div.edit-tool {
  background-image: url(carpenter-tools.jpg);
}

div.projects,
div.add-project,
div.edit-project {
  background-image: url(garden-project.jpg)
}

.add-supply-form,
.edit-supply-form,
.add-tool-form,
.edit-tool-form,
.add-project-form,
.edit-project-form {
  background-color: #ebe6e2;
  padding: 20px;
  margin: 20px;
}
.supply-items,
.tool-items,
.project-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 20px;
  width: 100%
}

.supply-item,
.tool-item,
.project-item {
  background-color: #ebe6e2;
  border-radius: 5px;
  padding: 10px;
  width: 45%;
}

.supply-item {
  border: 3px solid #0ad1f0;
}

.tool-item {
  border: 3px solid #f0530a
}

.project-item {
  border: 3px solid #59eca3
}

div.specs,
div.project-specs {
  display: flex;
  margin: 5px;
}

div.supply-specs-column,
div.tool-specs-column,
div.project-specs-column {
  text-align: left;
  padding: 10px;
}

div.supply-specs-column {
  border: 1px dashed #0ad1f0;
  
}

div.tool-specs-column {
  border: 1px dashed #f0530a;
  
}

div.project-specs-column {
  border: 1px dashed #59eca3;
}

/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

footer {
  margin-top: 30px;
  margin-bottom: 15px;
  border: 0px;
  color: #13498a;
  font-size: 75%;
}

footer ul li {
  display: inline-block;  
  width: auto;
  padding: 5px 10px;
  font-size: 150%;
}

footer a {
  bottom: 30px;
  right: 30px;
  color: #13498a;
}

footer a:hover {
  color: #0ad1f0;
}


/* -------------------------------------

/* mobile first approach = (the website was built initialy for mobiles and it will be adapted for desktop)
This is the ideal way to built websites because it is much easier to adapt from a small screen and low computing power (mobiles) to a large screen and high computing power (desktops)
*/


/*iPhone portrait*/
@media only screen and (min-width: 320px) {
    body {
        border: 3px solid purple;
        font-size: 20px;
    }

    header {
      font-size: 90%;
    }

    /* input {
      width: 150px;
    } */

    

    button {
      width: 100px;
    }

    div.landing-buttons {
      flex-direction: column;
    }

    button.demo-button {
      font-size: 150%;
      padding: 30px;
    }

    button.landing-button {
      font-size: 120%;
      padding: 30px;
    }

    
    div.supplies-entrance, 
    div.tools-entrance,
    div.projects-entrance {
      height: 30vh;

    }

    button.entrance-button {
      width: 150px;
    }

    .nav-icons {
      flex-direction: column;
      
    }

    .supply-items,
    .tool-items,
    .project-items {
      flex-direction: column;
    }

    .supply-item,
    .tool-item,
    .project-item {
      width: 100%
    }

    div.project-specs {
      flex-direction: column;
    }

}

/*iPhone landscape*/
@media only screen and (min-width: 480px) {
    body {
        border: 3px solid green;
        font-size: 24px;
    }

    

    button {
      width: 125px;
    }
}

/*Android landscape*/
@media only screen and (min-width: 640px) {
    body {
        border: 3px solid pink;
        font-size: 26px;
    }

    div.page-heading {
      margin: 10px;
    }

    button.entrance-button {
      width: 175px;
    }
    
    div.project-specs {
      flex-direction: row;
    }
    
}

/*iPad potrait*/
@media only screen and (min-width: 768px) {
    body {
        border: 3px solid red;
    }

    div.landing-buttons {
      flex-direction: row;
    }

    .inventory-buttons {
      flex-direction: row;
    }


.nav-icons {
      flex-direction: row;
      justify-content: space-between;
      /* font-size: 18px; */
  }

  .supply-items,
  .tool-items {
    flex-direction: row;
  }

  .supply-item,
  .tool-item {
    width: 45%
  }
}

/*iPad landscape / small laptop*/
@media only screen and (min-width: 1024px) {
    body {
        border: 3px solid blue;
        font-size: 30px;
    }

  header h1 {
    font-size: 250%;
  }

  button.demo-button, 
  button.landing-button {
    width: 250px;
    margin: 20px;
  }

  .nav-icons {
    font-size: 20px;
  }

}

/*large desktop*/
@media only screen and (min-width: 1600px) {
    body {
        border: 3px solid yellow;
    }

}